<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702394198672-lalii1gossbea0354qd39jll7s82ltuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702394198672-lalii1gossbea0354qd39jll7s82ltuh</string>
	<key>API_KEY</key>
	<string>AIzaSyBRATng1_IHUxmHx6fNEOaXgUiAxBNM7mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>702394198672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.market.nativebase.geekyants.flutter.foodorderingapp</string>
	<key>PROJECT_ID</key>
	<string>mgourmet-89170</string>
	<key>STORAGE_BUCKET</key>
	<string>mgourmet-89170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702394198672:ios:3dd2fd31d75bd6b9</string>
	<key>DATABASE_URL</key>
	<string>https://mgourmet-89170.firebaseio.com</string>
</dict>
</plist>